.page-login {
  .img-title-sep {
    margin-top: 45px;
  }

  .app-title {
    color: green;
    font-size: 4em;
    font-style: italic;
    font-weight: bold;
  }

  .stick-footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
  }
}
